// Breakpoints
$tela-grande: 1023px;
$tela-pequena: 767px;

// Esquema de cores
$cor-primaria: #f5f6fa;
$cor-secundaria: #182C61;
$cor-botoes: #44bd32;
$cor-texto-branco: #fff;

// Fontes
$fontPrincipal: 'Roboto', sans-serif; 